h2{
    max-width: 650px;
}

.donate__image{
width: 50%;
max-width: 400px;
}

.form--donate {
  display: flex;
  flex-direction: column;
  width: 250px;
}

.form__radio--donate-amount label,.payment-label {
  border: 1px solid var(--black-color);
  margin: 10px 0;
  width: 94px;
  max-width: 92px;
  text-align: center;
}

input[type="radio"] {
  display: none;
}

input[type="radio"]:checked + label {
  background-color: var(--secondary-color);
}



form div {
  border: none;
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}
