h2{
    max-width: 650px;
}

.form--donate {
  display: flex;
  flex-direction: column;
  width: 250px;
}

.form__radio--donate-amount label {
  border: 1px solid var(--black-color);
  margin: 10px;
  width: 94px;
}

input[type="radio"] {
  display: none;
}

input[type="radio"]:checked + label {
  background-color: var(--secondary-color);
}

.payment-label{
    max-width: max-content;
}

fieldset {
  border: none;
  display: flex;
  flex-direction: column;
}
