.form--donate {
  display: flex;
  flex-direction: column;
  width: 250px;
}

fieldset {
  border: none;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

fieldset label {
  border: 1px solid var(--black-color);
  margin: 10px;
  width: 73px;
}

input[type="radio"] {
  display: none;
}

input[type="radio"]:checked + label {
  background-color: var(--secondary-color);
}

.vipps--label {
  margin-bottom: -3px;
}

.payment-label {
  font-size: 2rem;
}

.form__div--radio--payment {
  color: var(--third-color);
  background-color: var(--primary-color);
}

input {
}
