



.section--volunteer{
  width: 100%;
}

.wrapper__div--volunteer{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 1300px;
  margin: auto;
  padding: 40px;
}




.section--support,
.section--volunteer {
  background-color: var(--primary-color);
  color: var(--third-color);
}

.section--support{
  display: flex;
  flex-direction: column;

}

.cta--get-involved{
  align-self: center;
  margin: 20px;
  align-self: flex-start;
}



.flex-container {
  display: flex;
  justify-content: space-between;
}

.flex-container > * {
  flex: 1 1 10%;
  max-width: 20%;
}

.h2--support{
  margin-top: 0;
}

@media screen and (min-width:679px) {
  
  .image--hero--get-involved {
    max-width: 350px;
  }

.section--hero{
  display: flex;
}

.h1--get-involved{
  margin: auto;
  font-size: 2.5rem;
}


.section--volunteer{
 display: flex;
 flex-direction: column;
 justify-content: center;
}

.wrapper__div--volunteer{
 
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
 
 
}

.p--volunteer{
  max-width: 400px;
  flex: 1 1 50%;
}


.get-involved__h2--volunteer{
  flex-basis: 100%;
}

.get-involved__h2--volunteer--internships{
  max-width: 940px;
}

.p--volunteer--left{
  margin-right: 20px;
}

}