:root {
--primary-color:#2D527D;
--secondary-color:#FCDB28;
--third-color:#ffffff;
--fourth-color:#D9D9D9;
--black-color:#000000;
--footer-background:#121212;
--card--background-opacity:rgb(45 82 125 / 62%);

}

body{
    margin: 0;
    grid-template-rows: auto 1fr auto;
    max-width: 1100px;
    margin: auto;
}

img{
  max-width: 100%;
}

.logo{
  max-width: 150%;
}

header{
background-color: var(--primary-color);
position: sticky;
  top: 0px;
  padding: 20px;
}



/* Text */
h1,
h2,
h3 {
  font-family: "Orbitron", sans-serif;
  padding: 20px;
}

p {
  font-family: "Roboto", sans-serif;
  padding: 20px
}



/* buttons */

.cta{
  text-decoration: none;
    padding: 20px;
    border-radius: 20px;
    background-color: var(--secondary-color);
    color: black;
    display: inline-block;
    
}




/* cards */


.card--neu-brutalism{
  box-shadow: 12px 11px rgb(0 0 0);
    border: 3px solid black;
    max-width: 237px;
    margin: 20px;
    color: var(--black-color);
    background-color: var(--third-color);
}


.card--neu-brutalism--small{
border-bottom: 3px solid black;
height: 57px;
color: var(--third-color);
background-color: var(--primary-color);
margin: 0;
}

.card--neu-brutalism--small h3{
  margin: 0;
}


/* Footer  */

.footer__container{
  display: grid;
    display: flex;
    flex-direction: column;
    background-color: var(--footer-background);
    color: var(--third-color);
    gap: 30px;
}


.social-media-icon{
  font-size: 2rem;
  
  color: var(--third-color);
  
}

.logo{
  max-width: 40%;
}




.footer__p--location{
  font-size: 2rem;
  color: var(--third-color);
}

.footer__p--location u{
  list-style: none;
}



.footer__form--label{
  display: block;
}

.footer__container--links{
  text-decoration: none;
  list-style: none;

}


footer ul{
  list-style: none;
padding: none;
padding: 0;
}

.cta--footer{
 color: var(--third-color);
}



footer p, footer a, footer label, footer input, .footer__ul--hours{
margin: 0 20px;
padding: 0;
}

#email--footer{
  margin-right:0;
}




@media screen and (min-width:728px){

  .cta--footer{
    width: 76px;
    border: solid 1px var(--secondary-color);
    border-radius: 3px;
    margin: 0 5px;
    background: var(--footer-background);
    color: var(--third-color);
    display: inline-block;
    padding: 12px;
    
  
  }


  .footer__container{
    display: block;
    display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, 1fr);
    gap: 0;
    }

  .footer__p--copyright{
    grid-column: 1/5;
    margin: auto;
  }
  
  .logo{
    max-width: 150%;
  }

  .footer__container--links{
        grid-column: 2/3;
  }
  
  .footer__container--textbox{
    grid-column: 1/2;
  }
  
  .footer__form{
    grid-column: 3/5;
      grid-row: 2/3;
  }

  .footer__container--cta{
    grid-column: 3/5;
    margin: auto 0;
    grid-row: 1/2;
    
  }

  .footer__container--follow-us{
    grid-row: 2/3;
      grid-column: 3/4;
      margin-top: auto;
  }

} 
  
