:root {
--primary-color:#2D527D;
--secondary-color:#FCDB28;
--third-color:#ffffff;
--black-color:#000000;

}

body{
    margin: 0;
    grid-template-rows: auto 1fr auto;
    max-width: 1100px;
    margin: auto;
}

/* Text */
h1,
h2,
h3 {
  font-family: "Orbitron", sans-serif;
}

p {
  font-family: "Roboto", sans-serif;
}



img{
    max-width: 100%;
}

header{
background-color: var(--primary-color);
position: sticky;
    top: 0px;
    padding: 20px;
}

