:root {
  --primary-color: #121212;
  --secondary-color: #fcdb28;
  --third-color: #ffffff;
  --fourth-color: #d9d9d9;
  --black-color: #000000;
  --footer-background: #121212;
  --card--background-opacity: rgb(45 82 125 / 62%);
  --color-background-text-readable: rgb(0 0 0 / 50%);
  --form-green: #094200;
  --heading-color: #05dbf2;
}

body {
  margin: 0;
  grid-template-rows: auto 1fr auto;
}
section {
  width: 100%;
}

.section--blue {
  background-color: var(--primary-color);
  color: var(--third-color);
}

.wrapper {
  max-width: 1300px;
  margin: auto;
  padding: 40px;
}

.wrapper--flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}

a {
  cursor: pointer;
  text-decoration: none;
}

a:hover,
button:hover,
input:hover,
textarea:hover {
  box-shadow: 0px 0px 10px #05dbec;
  text-decoration: underline;
}

img {
  width: 100%;
}

/* Text */

h1,
h2,
h3 {
  font-family: "Orbitron", sans-serif;
}

h1,
h2 {
  flex-basis: 100%;
}

p,
a {
  font-family: "Roboto", sans-serif;
}

ul {
  padding: 0;
  list-style: none;
}

/* buttons */

.cta {
  text-decoration: none;
  padding: 10px 35px;
  border-radius: 20px;
  background-color: var(--secondary-color);
  color: black;
  display: inline-block;
}

/* cards */

.card--neu-brutalism {
  box-shadow: 12px 11px rgb(0 0 0);
  border: 3px solid black;
  width: 92%;
  margin: 20px;
  padding-bottom: 20px;
  color: var(--black-color);
  background-color: var(--third-color);
  font-size: 0.9rem;
  text-align: center;
}

.card--neu-brutalism--small {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 3px solid black;
  height: 57px;
  color: var(--third-color);
  background-color: var(--primary-color);
  margin: 0;
}



.card--neu-brutalism--small h3 {
  margin: 0;
}

.span--hide {
  display: none;
}

/* Footer  */

footer {
  background-color: var(--footer-background);
  width: 100%;
  display: flex;

  color: var(--third-color);
  flex-direction: column;
}

.footer__container {
  max-width: 1300px;
  display: flex;
  flex-direction: column;

  color: var(--third-color);
  gap: 30px;
  padding: 20px;
}

.social-media-icon {
  font-size: 2rem;
  padding: 0 10px;
  color: var(--third-color);
}

.logo {
  max-width: 40%;
  padding: 20px 20px 30px 5px;
}

.footer__p--location {
  font-size: 1.5rem;
  color: var(--third-color);
  line-height: normal;
}

.footer__ul--hours {
  list-style: none;
  line-height: 21px;
}

.footer__p--copyright {
  padding-top: 20px;
}

.footer__div--copyright {
  margin: auto;
}

.footer__form--label {
  display: block;
}

footer ul {
  list-style: none;
  padding: none;
}

.cta--footer {
  color: var(--third-color);
}

@media screen and (min-width: 728px) {
  p {
    font-size: 1rem;
  }

  .footer__container {
    flex-flow: row wrap;
    gap: 0;
    justify-content: space-evenly;
  }

  .cta--footer {
    width: 52px;
    border: solid 1px var(--secondary-color);
    border-radius: 3px;
    margin: 0px 5px;
    background: var(--footer-background);
    color: var(--third-color);
    display: inline-block;

    padding: 12px;
  }

  .footer__p--copyright {
    width: 100%;
    margin: auto;
  }

  .logo {
    max-width: none;
    width: 272px;
  }

  .footer--flex-wrapper {
    display: flex;
    flex-direction: column;
  }
}
