p {
  padding: 10px 0;
  line-height: 17px;
}

.main--our-exhibitions {
  padding: 20px;
  display: grid;
  gap: 20px;
}

.card {
  border-radius: 20px;

  height: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: var(--third-color);
  margin: auto;
}

.card__div--text-container {
  align-self: flex-end;
  background-color: var(--card--background-opacity);
  border-radius: 0 0 20px 20px;
  padding: 0 20px;
}

h2 {
  padding: 20px;
  background: black;
  height: max-content;
  max-width: max-content;
}

.card--cosmology {
  background: url(/images/aldebaran-s-uXchDIKs4qI-unsplash.jpg) top no-repeat;
  background-size: cover;
}

.card--evolution {
  background: url(/images/mammoth-1257288_1920.jpg) top no-repeat;
  background-size: cover;
}

.card--biologi-and-medicine {
  background: url(/images/heart-2607178_1920.jpg) top no-repeat;
  background-size: cover;
}

.card--robotics-and-ai {
  background: url(/images/thisisengineering-raeng-sbVu5zitZt0-unsplash.jpg) top
    no-repeat;
  background-size: cover;
}
.card--ecology {
  background: url(/images/ivan-bandura-lzG4UQprzBY-unsplash.jpg) top no-repeat;
  background-size: cover;
}
.exhibitions__div--secondary-nav {
  display: none;
  padding-left: 20px;
}

@media screen and (min-width: 730px) {
  .main--our-exhibitions {
    grid-template-columns: 1fr 1fr;
  }

  .h1--exhibitions {
    grid-column: 1/3;
  }
}
