
.h1--special-events{
    padding: 40px;
}

.wrapper--night-at-the-museum {

  display: flex;
  align-items: center;
  flex-direction: column;
}

.div--text-container--events {
  flex: 1;
  max-width: 470px;
}

.image__div {
  flex: 1;
  max-width: 80%;
}


.flex-container--visiting-proffessor-of-aeronautics {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.flex-container--visiting-proffessor-of-aeronautics > * {
  max-width: 30%;
  flex: 1;
}

.flex-container--visiting-proffessor-of-aeronautics--four-images {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.flex-container--visiting-proffessor-of-aeronautics--four-images > * {
  max-width: 19%;
  flex: 1;
}

.special-events__p--energetica-exhibition-on-loan {
  margin-bottom: 0;
}

@media screen and (min-width: 650px) {
  .wrapper--night-at-the-museum {
    flex-direction: row;
    justify-content: space-between;
  }

  .image__div {
    max-width: 50%;
  }

  .image--night {
    object-fit: cover;
    height: 350px;
  }

  .section--visiting-proffessor-of-aeronautics {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
  }
  .section--visiting-proffessor-of-aeronautics > * {
    flex: 1;
  }

  .flex-container--visiting-proffessor-of-aeronautics > * {
    max-width: 37%;
  }

  
  .flex-container--visiting-proffessor-of-aeronautics {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
  }

  .flex-container--visiting-proffessor-of-aeronautics--four-images {
    display: flex;
    justify-content: start;
    gap: 10px;
  }
}
