.section--night-at-the-museum__div{
    background: url(/images/roberto-nickson-396152.jpg) no-repeat center;
    background-size: cover;
    color: var(--third-color);
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
}

.section--visiting-proffessor-of-aeronautics{
background-color: var(--primary-color);
color: var(--third-color);
}

.flex-container--visiting-proffessor-of-aeronautics{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: -20px;

}
.flex-container--visiting-proffessor-of-aeronautics > *{
    max-width: 25%;
    flex: 1;
}

.section--energetica-exhibition-on-loan{
    background-color: var(--fourth-color);
    padding-top: 30px;
}

.flex-container--visiting-proffessor-of-aeronautics--four-images{
    display: flex;
    justify-content: center;
}

.flex-container--visiting-proffessor-of-aeronautics--four-images > *{
    max-width: 19%;
    flex: 1;
    gap: 10px;
}

