.map--visit {
  width: 300px;
  border-radius: 50%;
  height: 300px;
}

.section--location{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: column;
}

.section--visit{
    
    display: flex;
    flex-wrap: wrap;
    
}

.h1--visit{
  font-size: 2.5rem;
  margin: auto;
  flex: 1 1 100%;
}

.section--visit,
.section--admission,
.section--food-and-drink {
  background-color: var(--primary-color);
  color: var(--third-color);
}

.image--visit--30percent{
    max-width: 30%;
}
.section--visit__image{
  max-width: 100%;
}


/* contact*/

.section--contact {
  background-color: var(--primary-color);
  color: var(--third-color);
}

.h1--contact {
  margin-top: 0;
}

.form--contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input--contact {
  box-shadow: 0px 0px 3px black;
  width: 232px;
}






@media screen and (min-width:650px) {
  
  .section--location{
    flex-direction: row;
  }

.section--location{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.section--visit{
  
  flex-wrap:nowrap;
  
}
.section--visit__image{
  max-width: 30%;
}

.h1--visit{
  flex: 0;
}

.visit__ul--hours{
  font-size: 2rem;
}

.visit__h2--location{
  flex: 1 1 100%;
}
}