.map--visit {
  width: 300px;
  border-radius: 50%;
  height: 300px;
}

.section--location{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: column;
}

.section--visit{
    height: 40vh;
    display: flex;
    justify-content: space-between;
}

.section--visit,
.section--admission,
.section--food-and-drink {
  background-color: var(--primary-color);
  color: var(--third-color);
}

img{
    max-width: 30%;
}

@media screen and (min-width:650px) {
  
  .section--location{
    flex-direction: row;
  }

.section--location{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.visit__ul--hours{
  font-size: 2rem;
}

.visit__h2--location{
  flex: 1 1 100%;
}
}